{% extends "base.html" %}
{% block title %}Презентации{% endblock %}
{% block content %}
<a class="knopkap" href="{% url 'presentations_add' %}">Add</a>
{% for presentations_item in presentations %}
{% include 'presentations/presentations_item.html' %}
{% endfor %}
<div class="pagination">
<span class="step-links">
{% if presentations.has_previous %}
<a href="?page={{ presentations.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
Page {{ presentations.number }} of {{ presentations.paginator.num_pages }}
</span>

{% if presentations.has_next %}
<a href="?page={{ presentations.next_page_number }}">next</a>
{% endif %}
</span>
</div>
{% endblock %}