<div class="columns"><h2>{{ presentations_item.name }}</h2>
<h2>{{ presentations_item.title }}</h2>
  <p>{{ presentations_item.description }}</p>
  <p>{{ presentations_item.time }}</p>
  <a class="knopka" href="{% url 'presentations_edit' presentations_item.id %}">Edit</a>
  <a class="knopka" href="{% url 'presentations_delete' presentations_item.id %}">Delete</a>
</div>