
body {
	margin: 0;
	padding: 0;
	background: url(images/main-background-bg.png) repeat;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	color: #2b2b2b;
	height: 100%;
	width: 100%;
}

#header {
	height: 150px;
	background: rgba(43, 43, 43, 0.15);
	padding:10px;
}


.logo {
	margin-left: 120px;
	position: absolute;
}

.menu {
	margin-top: 93px;
	margin-left: 123px;
	width: 85%;
	height: 67px;
	background-color: #cccfcf;
	
}

.menu li a {
	
	display: inline;
	color: #2b2b2b;
	font-size: 18px;
	padding: 9px 0px 9px 30px;
	
}

ul.menu li {
	display: inline;
	margin-right: 5px;
	margin-left: 30px;
	
}

a {
	text-decoration: none;
}

#content {
	height: 700px;
	width: 80%;
	background: rgba(43, 43, 43, 0.04);
	margin: 0 10%;
	padding: 10px;
	font-size: 14px;
}

.knopka {
	background-color: #cccfcf;
	border-radius: 0.2em;
	width: 25px;
	text-decoration: none;
	padding: 3px 5px 3px;
	color: #000;
}

.columns {
	display: inline-block;
	width: 30%;
	margin-bottom: 20px;
	margin-top: 10px;
}

.knopkap {
	display: block;
	background-color: #cccfcf;
	border-radius: 0.2em;
	width: 25px;
	text-decoration: none;
	padding: 3px 5px 3px;
	color: #000;
}

.pagination {
	text-align: center;
}