<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<title>{% block title %}My amazing site{% endblock %}</title>
</head>
<body>
    <div id="header">
        <div class="logo"><img src="{% static 'images/it_logo.jpg' %}" width="50px" height="50px"></img></div>
                <ul class="menu">
                    {% load flatpages %}
                    {% get_flatpages as flatpages %}
                    {% for page in flatpages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    <li><a href="{% url 'news_index' %}">Новости</a></li>
                    <li><a href="{% url 'speakers_index' %}">Спикеры</a></li>
                    <li><a href="{% url 'presentations_index' %}">Выступления</a></li>
                    <li><a href="{% url 'organizers_index' %}">Организаторы</a></li>
                    <li><a href="{% url 'partners_index' %}">Партнеры</a></li>
                    <li><a href="{% url 'contacts_index' %}">Контакты</a></li>
                </ul>
        </div>
<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>